<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置扫描包-->
    <context:component-scan base-package="com.moecola.d">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--配置视图解析器-->
    <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--排除静态文件目录-->
    <mvc:resources mapping="/js/**" location="/static/js/"/>
    <mvc:resources mapping="/css/**" location="/static/css/"/>
    <mvc:resources mapping="/pic/**" location="/static/pic/"/>
    <!--配置登录拦截器-->
<!--    <mvc:interceptors>
        &lt;!&ndash; <bean class="com.springmvc.interceptor.InterceptorAll"></bean> &ndash;&gt;
        <mvc:interceptor>
            &lt;!&ndash; 配置需要拦截的url &ndash;&gt;
            <mvc:mapping path="/account/update**"/>
            &lt;!&ndash; 拦截器类定义 &ndash;&gt;
            <bean class="com.moecola.d.interceptor.AdminInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->
    <!--配置文件解析器-->
<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1000000000"/>
    </bean>-->
    <!--开启注释-->
    <mvc:annotation-driven/>
</beans>